@font-face {
    font-family: pro;
    src: url(./fonts/pro.ttf);
  }

/* Header styling */

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

Header, footer {
    position: absolute;
    background-color: #262626;
    width: 100%;
    color: white;
}
Header {
    position: sticky;
    z-index: 10;
}
/* styling for the drop down menu */

.dropbtn {
    background-color: #262626;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 75px;
  }
 #sus {
    top: 3px;
 }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: pro;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #161616;}
  
/* Desktops and PCs*/
@media screen and (max-width: 3542px) {
    Header {
        height: 75px;
        top: 0;
    }

    .logo img{
        position: absolute;
        margin-left: 45%;
        top: -2%;
        height: 70px;
        width: 70px;
        padding: 3px;
        left: 3.2%;
    }

    .dropdown img{
        position: relative;
        justify-content: left;
        align-items: center;
        margin-left: 1%;
        height: 31px;
        width: 42px;
        top: 20px;
    }
}

/* Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    Header {
        height: 75px;
        top: 0;
    }

    .logo img{
        position: absolute;
        margin-left: 45%;
        top: -2%;
        height: 70px;
        width: 70px;
        padding: 3px;
        left: 1%;
    }

    .dropdown img{
        position: relative;
        justify-content: left;
        align-items: center;
        margin-left: 1%;
        height: 31px;
        width: 42px;
        top: 20px;
    }
}

/* Mobile Phones */
@media screen and (max-width: 667px) {
    Header {
        height: 75px;
        top: 0;
    }

    .logo img{
        position: absolute;
        margin-left: 45%;
        top: -2%;
        height: 70px;
        width: 70px;
        padding: 3px;
        left: -2%;
    }

    .dropdown img{
        position: relative;
        justify-content: left;
        align-items: center;
        margin-left: .1%;
        height: 31px;
        width: 42px;
        top: 20px;
    }
}