/* Header styling */

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

Header, footer {
    position: absolute;
    background-color: #262626;
    width: 100%;
    color: white;
}
Header {
    position: sticky;
    z-index: 10;
}



/* Desktops and PCs*/
@media screen and (max-width: 3542px) {
    Header {
        height: 75px;
        top: 0;
    }

    .logo img{
        position: absolute;
        margin-left: 45%;
        top: -2%;
        height: 70px;
        width: 70px;
        padding: 3px;
        left: 1%;
    }

    .menu img{
        position: relative;
        justify-content: left;
        align-items: center;
        margin-left: 1%;
        height: 31px;
        width: 42px;
        top: 20px;
    }
}

/* Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    Header {
        height: 75px;
        top: 0;
    }

    .logo img{
        position: absolute;
        margin-left: 45%;
        top: -2%;
        height: 70px;
        width: 70px;
        padding: 3px;
        left: 1%;
    }

    .menu img{
        position: relative;
        justify-content: left;
        align-items: center;
        margin-left: 1%;
        height: 31px;
        width: 42px;
        top: 20px;
    }
}

/* Mobile Phones */
@media screen and (min-width: 375px) and (max-width: 667px) {
    Header {
        height: 75px;
        top: 0;
    }

    .logo img{
        position: absolute;
        margin-left: 45%;
        top: -2%;
        height: 70px;
        width: 70px;
        padding: 3px;
        left: -3%;
    }

    .menu img{
        position: relative;
        justify-content: left;
        align-items: center;
        margin-left: .1%;
        height: 31px;
        width: 42px;
        top: 20px;
    }
}