/*If text is styled then the CSS file is in use and currently working*/
/* fonts */

@font-face {
  font-family: pro-thin;
  src: url(./fonts/pro-thin-text.otf);
}

@font-face {
  font-family: pro-display-bold;
  src: url(./fonts/pro-display-bold.otf);
}

@font-face {
  font-family: pro;
  src: url(./fonts/pro.ttf);
}


/* Header styling */ 

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

Header, footer {
  position: absolute;
  background-color: #262626;
  width: 100%;
  color: white;
}

Header {
  height: 6%;
  top: 0;

}

.logo {
  position: absolute;
  margin-left: 45%;
}



/* footer styling */

footer {
  height: 12vh;
  bottom: 0px;
  position: absolute;
  display: flexbox;
}

#copyright {
  font-family: pro-thin;
  position: absolute;
  left: 10%;
  bottom: 0px;
}

#nz-footer {
  float: right;
  bottom: 0px;
 
  right: 5%;
  position: absolute;
  font-family: pro-thin;
}

@media (max-width: 530px) {
  #nz-footer {
    bottom: 20%;
  }
}
@media (max-width: 390px) {
  #nz-footer {
    bottom: 0%;
  }
}








/* styling for the drop down menu */

menu {
  position: absolute;
  right: 45%;
  top: 50px;
  color: white;
  text-decoration: none;
  
}

/* upper content styling */

.flex-container {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 30vh;
  width: 100%;
  position: relative;
}

.main-text-cont {
  color: white;
  position: relative;
  width: 30%;
  right: 10%;
}


#title {
  font-family: pro-display-bold;
  font-size: 7vw; 
  margin-bottom: 0px;
  padding: 0%;
  position: relative;
  width: 5em;
  bottom: 30%;
  right: 20%;
}

#subtitle {
  font-family: pro;
  font-size: 3vw;
  font-weight: lighter;
  border-radius: 5px;
  padding: 0%;
  margin: 5%;
  position: relative;
  width: 10em;
  bottom: 40%;
  right: 24%;
}

#app-store {
  position: absolute;

  top: 0;
  padding: 0%;
  margin: 0%;
  left: 20px;
  
}
 
img {
  left: 10%;
  bottom: 45%;
  position: relative;
}