/*If text is styled then the CSS file is in use and currently working*/
/* fonts */

@font-face {
  font-family: pro-thin;
  src: url(./fonts/pro-thin-text.otf);
}

@font-face {
  font-family: pro-display-bold;
  src: url(./fonts/pro-display-bold.otf);
}

@font-face {
  font-family: pro;
  src: url(./fonts/pro.ttf);
}


/* Header styling */ 

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

Header, footer {
  position: absolute;
  background-color: #262626;
  width: 100%;
  color: white;
}

Header {
  height: 7%;
  top: 0;
}

.logo img{
  position: absolute;
  margin-left: 45%;
  top: 2px;
  height: 6.5vh;
  width: 4vw;
}



/* footer styling */

footer {
  height: 12vh;
  bottom: 0px;
  position: absolute;
  display: flexbox;
}

#copyright {
  font-family: pro-thin;
  position: absolute;
  left: 10%;
  bottom: 0px;
}

#nz-footer {
  float: right;
  bottom: 0px;
 
  right: 5%;
  position: absolute;
  font-family: pro-thin;
}

@media (max-width: 530px) {
  #nz-footer {
    bottom: 20%;
  }
}
@media (max-width: 390px) {
  #nz-footer {
    bottom: 0%;
  }
}








/* styling for the drop down menu */

menu {
  position: absolute;
  right: 45%;
  top: 50px;
  color: white;
  text-decoration: none;
  
}

/* upper content styling */

.flex-container {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 10vh;
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 10vh;
}

.main-text-cont {
  color: white;
  position: absolute;
  width: 30%;
  left: 34%;
  height: 100%;
  top: 0%;
}


#title {
  font-family: pro-display-bold;
  font-size: 7vw; 
  margin-bottom: 0px;
  padding: 0%;
  position: relative;
  width: 5em;
  top: 5%;
  right: 33%;
}

#subtitle {
  font-family: pro;
  font-size: 2.3vw;
  font-weight: 1;
  border-radius: 5px;
  padding: 0%;
  margin: 5%;
  position: relative;
  width: 10em;
  bottom: 0%;
  right: 24%;
}

.appstore {
  position: relative;
  left: 50%;
  padding: 0%;
  margin: 0%;
  bottom: 0;
  float: right;
}

.image-cont {
  position: relative;
  color: white;
  width: fit-content;
  left: 30%;
  top: 4vh;

}

 
